communication/__pycache__
communication/.dist
communication/example/__pycache__
communication/example/.dist
communication/cli_testfile.py
.vscode
.dist
communication/notes.py
communication/example/__pycache__